<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maki Roggers Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="../../../client/components/KendoUI/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../client/components/KendoUI/styles/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../../client/components/KendoUI/styles/kendo.common.min.css"
    <link rel="stylesheet" href="../../../client/components/KendoUI/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="../../../client/components/KendoUI/styles/kendo.metro.min.css">
    <script src="../../../client/components/KendoUI/js/jquery.min.js"></script>
    <script src="../../../client/components/KendoUI/js/kendo.all.min.js"></script>
    <script src="../../../client/components/KendoUI/js/jszip.min.js"></script>
  </head>
  <body>
    <div id="container"></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="@ViewData["assets:main:js"]"></script>
    <script>
      window.ga=function(){{ga.q.push(arguments)}};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
