<html>
    <body>
        <h2>Add a New User</h2>
        <form action="/users/add" method="post">
            Name: <input type="text" name="name">
            Email: <input type="text" name="email">
            <input type="submit" value="create user">
        </form>
    </body>
</html>